//spaces ----------------------------
.box-5px{padding-top: 5px;}
.box-8px{padding-top: 8px;}
.box-10px{padding-top: 10px;}
.box-16px{padding-top: 16px;}
.box-24px{padding-top: 24px;}
.box-32px{padding-top: 32px;}
.box-48px{padding-top: 48px;}
.box-56px{padding-top: 56px;}
.box-64px{padding-top: 64px;}
.pl-image{padding-left: 12px;}

.line-botton{
  border-bottom: 1px solid #dedede;
}

.line-top{
  border-top: 1px solid #dedede;
}


//images -----------------------------
.noMargin{margin-bottom: 0; Margin-bottom: 0;}
.noImage-padding{padding-right: 0 !important; padding-left: 0 !important; padding-bottom: 0 !important;}
.logo-image{@include size(150px);}
.image-dis{@include size(40px);}
.image-logo-footer{@include size(266px);}
.img-nps{@include size(62%);}
.img-social{@include size(25px);}
.img-trans{@include size(50px);}
.noText{color: transparent;}

.noPadding{

  @media only screen and (max-width: 596px) {
		padding-bottom: 0 !important;
	}
}

.header-image, .restaurant-image{
  border-radius: 8px;
}


//typografy -----------------------------------------
h1, h2, h3, h4, h5 {
  @extend %title-config;
}

h1{
  @media only screen and (max-width: 596px) {
    font-size: 40px;
  }
}

.red{color: $chefsclub-red !important;}
.blue{color: $chefsclub-blue !important;}
.text-small{font-size: 13px;}
.text-white{color: #ffffff;}
.text-gray{color: #919191;}
.text-green{color:$chefsclub-green; font-weight: bold;}
.text-rating{color: $chefsclub-rating; font-weight: bold; font-size: 25px;}
.uppercase{text-transform: uppercase; font-weight: bold;}
.text-alert{color: $chefsclub-alert;}
.text-fail{Color: $chefsclub-fail;}
.text-sucess{color: $chefsclub-sucess;}


//RESET------------------------------------------------------------------------
td {
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  border-collapse: collapse;
}

//backgrounds
table {
  &.body {
    background: #ffffff;
  }

  &.container {
    background: transparent;
  }
}

//button
table.button {

  table {

    td {
      background: $chefsclub-red;
      border: $chefsclub-red;
    }
  }
}

table.button:hover,
table.button:visited,
table.button:active {
  table {
    td {
      background: darken($chefsclub-red, 10%);
    }
  }
}
