//variaveis
$chefsclub-red: #f8485e;
$chefsclub-blue: #00c1d5;
$chefsclub-grey: #53565a;
$chefsclub-green: #5CB85C;
$chefsclub-rating: #FFBB00;
$chefsclub-alert: #F0AD4E;
$chefsclub-fail: #D9534F;
$chefsclub-sucess: #5CB85C;
