
  {{>two-column-vertical
    restaurant-left="Porto Frescatto"
    url-left="https://chefs.app.link/c2LVXiBqnP"
    url-image-left="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/274/tio-ruy.png"
    percent-left="30"
    cuisine-neiberhood-left="Barra da Tijuca - Frutos do Mar"
    price-range-left="R$75 - R$100"

    restaurant-right="Porto Frescatto"
    url-right="https://chefs.app.link/c2LVXiBqnP"
    url-image-right="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/274/porto-frescatto.png"
    percent-right="30"
    cuisine-neiberhood-right="Barra da Tijuca - Frutos do Mar"
    price-range-right="R$75 - R$100"
  }}