<row class="collapse">
  <columns large="6" class="noImage-padding">
    <img src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/especiais/box-blog.png" title="lava Cake"/>
  </columns>

  <columns large="6" bgcolor="#67d2f9" class="noImage-padding">
    <spacer size="30"></spacer>
    <div style="padding: 0 20px 0 20px;">
    <h4>48h em Belo Horizonte, com nossas indicações gastronômicas!</h4>
    <p class="text-small">Uma das primeiras capitais planejadas do Brasil, Belo Horizonte tem muito a oferecer aos turistas. </p>
    <button href="#" class="radius">leia o post completo</button>
    </div>
  </columns>
</row>
