<spacer size="100"></spacer>

<row>
  <columns large="12">
    <img class="image-logo-footer" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/2018/automation/logo-e-slogan.png">
    
    <p class="noText">.</p>

    <p class="box-16px text-small" style="border-top: 1px solid #dedede; border-bottom: 1px solid #dedede;">Baixe o ChefsClub para: <a href="https://itunes.apple.com/app/apple-store/id587357217?pt=1816222&ct=box-app-newsletter&mt=8" target="_blank">iPhone</a> | <a href="https://play.google.com/store/apps/details?id=br.com.chefsclub.app&referrer=utm_source%3Dbox-app-newsletter%26utm_medium%3Demail&hl=pt_BR" target="_blank">Android</a><br><br></p>

    <p class="box-24px text-small"><strong class="black">Fale conosco:</strong> <br> 4003-6177 (Capitais e regiões metropolitanas) <br>(21) 2018-0077 (Demais localidades)</p>

    <p class="text-small"><a href="mailto:meajuda@chefsclub.com.br?Subject=Contato%20E-mail" target="_blank"> meajuda@chefsclub.com.br</a></p>

    <p class="box-16px text-small">Não tá conseguindo ler o e-mail? <a href="*|ARCHIVE|*" target="_blank">Veja a versão on-line</a></p>

    <p class="box-8px text-small"><a href="http://bit.ly/SugestaoChefsClub" target="_blank";>Clique aqui</a> e indique seu restaurante favorito. Vamos fazer de tudo para ele entrar para o clube!</p>

    <p class="box-8px text-small">Esta mensagem foi enviada para *|EMAIL|*. Se você não quer receber estes e-mails do ChefsClub no futuro, pode <a href="*|UNSUB|*" target="_blank">cancelar o recebimento</a>.</p>
  </columns>
</row>