<row class="collapsed footer">
  <columns>
    <center>
      <menu>
        <item><a href="https://chefs.app.link/E9xwqyaLvP" target="_blank"><img class="img-social" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/especiais/instagram.png"></a></item>
        <item><a href="https://chefs.app.link/R83dAV6KvP" target="_blank"><img class="img-social" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/especiais/facebook.png" title="Nos siga no Facebook"></a></item>
        <item><a href="https://chefs.app.link/IRWMIoQRvP" target="_blank"><img class="img-social" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/especiais/twitter.png" title="Nos siga no Twitter"></a></item>
      </menu>

      <p class="text-small text-center">Acompanhe também o <a href="https://chefs.app.link/0qvsfdiLvP" target="_blank">ChefsBlog</a> - O Delicioso mundo da gastronomia.</p>
    </center>
  </columns>
</row>