<row>
  <columns large="6">
    <a href="{{url-left}}" target="_blank"><img class="restaurant-image" src="{{url-image-left}}" alt="{{restaurant-left}}" /></a>

    <spacer size="10"></spacer>

    <table>
      <tr>
        <th>
          <h5 class="noMargin">{{restaurant-left}}</h5>
            <p class="text-small">{{cuisine-neiberhood-left}}</p>
        </th>

        <th>
          <img class="float-right image-dis" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/template/{{percent-left}}.png" alt="-{{percent-left}}%" />
        </th>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          <p class="text-green text-small">Cerveja pilsen de 200 ml</p>
        </th>
      </tr>
    </table>
  </columns>

  <columns large="6">
    <a href="{{url-left}}" target="_blank"><img class="restaurant-image" src="{{url-image-left}}" alt="{{restaurant-left}}" /></a>

    <spacer size="10"></spacer>

    <table>
      <tr>
        <th>
          <h5 class="noMargin">{{restaurant-left}}</h5>
            <p class="text-small">{{cuisine-neiberhood-left}}</p>
        </th>

        <th>
          <img class="float-right image-dis" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/template/{{percent-left}}.png" alt="-{{percent-left}}%" />
        </th>
      </tr>
    </table>

    <table>
      <tr>
        <th>
          <p class="text-green text-small">Cerveja pilsen de 200 ml</p>
        </th>
      </tr>
    </table>

  </columns>
</row>