<row>
  <columns large="5">
    <a href="{{url}}" target="_blank"><img class="restaurant-image" src="{{url-image}}" alt="{{restaurant}}"></a>
  </columns>

  <columns large="7">
    
    <spacer size="12"></spacer>

    <h2 class="noMargin">{{restaurant}}</h2>
    <img class="image-dis float-right" src="https://s3-sa-east-1.amazonaws.com/mkt.chefsclub.com.br/imagens-emails/template/{{percent}}.png" alt="-{{percent}}%" />
    <p class="box-8px text-small">{{cuisine-neiberhood}}</p>
    <p class="text-small">{{price-range}}</p>

    <spacer size="16"></spacer>

    <button href="{{url}}" class="radius" target="_blank">Mais detalhes</button>

  </columns>
</row>